body {
    background-color: rgb(53, 51, 51);

    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: center;
    align-content: space-between;
    gap: 6rem;
}

button {
    height: 50px;
    width: 100px;
    border: 2px solid rgb(86, 162, 206);
    border-radius: 10px;
    transition-duration: 0.3s;
}

button:hover {
    background-color: rgb(86, 162, 206);
    color: white;
}

#content {
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    width: 80rem;
    padding: 20px;
    margin: 20px auto;
    border: 5px solid rgb(86, 162, 206);
    border-radius: 10px;
}